{% extends 'base.html.twig' %}

{% block header %}
    <h1 class="titre_stagiaire">Ajouter un Chef de section</h1>
{% endblock %}

{% block main %}

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {#  {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }} #}
    {{ form_row(registrationForm.grade) }}
    {{ form_row(registrationForm.nom) }}
    {{ form_row(registrationForm.prenom) }}
    {{ form_row(registrationForm.compagnie) }}
    <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
