{% extends 'base.html.twig' %}

{% block js %}
    <script src="{{ asset('JS/decompteRationnaire.js') }}"></script>
{% endblock %}

{% block lienNav %}
    {% if is_granted("ROLE_ADMIN") %}
        <a class="texteNav + animText" href="{{ path('app_ajouter') }}">Ajouter un CDS</a>
    {% else %}
        <a class="texteNav + animText" href="{{ path('mespromotions_voirPromotions') }}">Ajouter une promotion</a>
    {% endif %}
{% endblock %}

{% block main %}
    <div class="gridH1Parent">
        <div class="gridH1Vide1">
            <a href="{{ path('decompte_index') }}">
                <img class="fleches" src="{{ asset('CSS/media/fleche-gauche-blanche.png') }}" alt="Retour">
            </a>
        </div>
        <div class="gridH1">
            <h1 class="h3 mb-3 font-weight-normal">Décompte rationnaire</h1>
        </div>
        <div class="gridH1Vide2"></div>
    </div>
    <div id="titreNomPromo">
        <h2>{{ promo.nomPromotion }}</h2>
    </div>
    <div id="numSemaine">
        <h3>Semaine n° <span id="numero">{{ "now" | date('W')+ 2 }}</span></h3>
    </div>
    <form>
        <div class="formCentre">
            <div class="gridFormDateRParent">
                {{ form_start(formRepas) }}
                <div class="gridFormDateR1">
                    <div class="elementsForm">
                        {{ form_label(formRepas.nbMangeantMidi) }}
                    </div>
                    <div class="elementsForm">
                        {{ form_widget(formRepas.nbMangeantMidi) }}
                    </div>
                </div>
                <div class="gridFormDateR2">
                    <div class="elementsForm">
                        {{ form_label(formRepas.nbMangeantSoir) }}
                    </div>
                    <div class="elementsForm">
                        {{ form_widget(formRepas.nbMangeantSoir) }}
                    </div>
                </div>
                <div class="gridFormDateR3">
                    <button class="bouttonValidation" type="submit">
                        ENVOYER
                    </button>
                </div>
                {{ form_end(formRepas) }}
            </div>
        </div>
    </form>



    {#
    <table>
        <thead>
        <tr>
            <th></th>
            <th colspan="2">{{ Lundi | date ("d-m-Y") }}</th>
            <th colspan="2">{{ Mardi | date ("d-m-Y") }}</th>
            <th colspan="2">{{ Mercredi | date ("d-m-Y") }}</th>
            <th colspan="2">{{ Jeudi | date ("d-m-Y") }}</th>
            <th colspan="2">{{ Vendredi | date ("d-m-Y") }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td>Midi</td>
            <td>Soir</td>
            <td>Midi</td>
            <td>Soir</td>
            <td>Midi</td>
            <td>Soir</td>
            <td>Midi</td>
            <td>Soir</td>
            <td>Midi</td>
            <td>Soir</td>
        </tr>
        {% for stage in app.user %}
            <tr>
                <th>{{ stage.nom }}</th>
            </tr>

        </tbody>
    </table> #}

    <script></script>

{% endblock %}

