{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('CSS/decompteRationnaire.css') }}">
{% endblock %}
{% block js %}
    <script src="{{ asset('JS/decompteRationnaire.js') }}"></script>
{% endblock %}

{% block lienNav %}
    {% if app.user %}
        <a class="texteNav + animText" href="{{ path('app_ajouter') }}">Ajouter un CDS</a>
    {% else %}
    {% endif %}
{% endblock %}

{% block main %}
    <div id="titre">
        <h1>Decompte rationnaire :</h1>
    </div>
    <div id="numSemaine">
        <img src="{{ asset('CSS/media/fleche-fine-contour-vers-la-gauche.png') }}" alt="" id="g" onclick="moins()">
        <div>
            <h3>Semaine n° <span id="numero">{{ "now" | date('W')+ 2 }}</span></h3>
        </div>
        <img src="{{ asset('CSS/media/fleche-fine-contour-vers-la-droite (1).png') }}" alt="" id="d" onclick="plus()">
    </div>
    <div>

    </div>
    <p>{{ promo.nomPromotion }}</p>
    <p>{{ form(formRepas) }}</p>

    </div>



    {#
    <table>
        <thead>
        <tr>
            <th></th>
            <th colspan="2">{{ Lundi | date ("d-m-Y") }}</th>
            <th colspan="2">{{ Mardi | date ("d-m-Y") }}</th>
            <th colspan="2">{{ Mercredi | date ("d-m-Y") }}</th>
            <th colspan="2">{{ Jeudi | date ("d-m-Y") }}</th>
            <th colspan="2">{{ Vendredi | date ("d-m-Y") }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td>Midi</td>
            <td>Soir</td>
            <td>Midi</td>
            <td>Soir</td>
            <td>Midi</td>
            <td>Soir</td>
            <td>Midi</td>
            <td>Soir</td>
            <td>Midi</td>
            <td>Soir</td>
        </tr>
        {% for stage in app.user %}
            <tr>
                <th>{{ stage.nom }}</th>
            </tr>

        </tbody>
    </table> #}

    <script></script>

{% endblock %}

