{% extends 'base.html.twig' %}

{% block js %}
    <script src="{{ asset('JS/decompteRationnaire.js') }}"></script>
{% endblock %}

{% block lienNav %}
    {% if is_granted("ROLE_ADMIN") %}
        <a class="texteNav + animText" href="{{ path('app_ajouter') }}">Ajouter un CDS</a>
    {% else %}
        <a class="texteNav + animText" href="{{ path('mespromotions_voirPromotions') }}">Ajouter une promotion</a>
    {% endif %}
{% endblock %}

{% block main %}
    <div class="gridH1Parent">
        <div class="gridH1Vide1"></div>
        <div class="gridH1"><h1 class="h3 mb-3 font-weight-normal">Décompte rationnaire</h1></div>
        <div class="gridH1Vide2"></div>
    </div>
    <div id="numSemaine">
        <h3>Semaine n° <span id="numero">{{ "now" | date('W')+ 2 }}</span></h3>
    </div>
    {% for promotion in app.user.promotion %}
        <div class="listePromo">
            <a class="promo" href="{{ path('ajoutDate_dateRepas', {'promo': promotion.id}) }}">{{ promotion.nomPromotion }}</a>
        </div>
    {% else %}
        <div id="aucunePromo">
            <p>Aucune Promotion</p>
        </div>
    {% endfor %}


    {#
    <table>
        <thead>
        <tr>
            <th></th>
            <th colspan="2">{{ Lundi | date ("d-m-Y") }}</th>
            <th colspan="2">{{ Mardi | date ("d-m-Y") }}</th>
            <th colspan="2">{{ Mercredi | date ("d-m-Y") }}</th>
            <th colspan="2">{{ Jeudi | date ("d-m-Y") }}</th>
            <th colspan="2">{{ Vendredi | date ("d-m-Y") }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td>Midi</td>
            <td>Soir</td>
            <td>Midi</td>
            <td>Soir</td>
            <td>Midi</td>
            <td>Soir</td>
            <td>Midi</td>
            <td>Soir</td>
            <td>Midi</td>
            <td>Soir</td>
        </tr>
        {% for stage in app.user %}
            <tr>
                <th>{{ stage.nom }}</th>
            </tr>

        </tbody>
    </table> #}

    <script></script>

{% endblock %}

