<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Décompte rationnaire{% endblock %}</title>
    <link rel="icon" href="{{ asset('CSS/media/new_Logo_CMFP.png') }}">
    <link rel="stylesheet" href="{{ asset('CSS/body.css') }}">
    <link rel="stylesheet" href="{{ asset('CSS/header.css') }}">
    <link rel="stylesheet" href="{{ asset('CSS/main.css') }}">
    <link rel="stylesheet" href="{{ asset('CSS/form.css') }}">
    <link rel="stylesheet" href="{{ asset('CSS/footer.css') }}">
    {% block css %}
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>
<body>
<header>
    <div id="logoHead">
        <div id="divMinarmHeader">
            <img id="minarmHeader" src="{{ asset('CSS/media/minarm.png') }}" alt="minarm">
        </div>
        <div id="divCmfp">
            <a href=""><img id="cmfp" src="{{ asset('CSS/media/cmfp.png') }}" alt="cmfp"></a>
        </div>
        <div id="gridLogoVide"></div>
    </div>
    <nav>
        <div class="gridNavParent">
            <div class="gridNav1">
                {% if app.user %}
                <div class="elementNav">
                    <p id="bonjourCDS" class="texteNav">Bonjour {{ app.user.grade }} {{ app.user.nom }}</p>
                </div>
                {% endif %}
            </div>
            {% if app.user %}
            <div class="gridNav2Connecte">
            {% else %}
            <div class="gridNav2Deconnecte">
            {% endif %}
                {% block lienNav %}
                <a class="texteNav" href="{{ path('app_ajouter') }}">Ajouter un CDS</a>
                {% endblock %}
                {% if app.user %}
                <p class="texteNav">|</p>
                <a class="texteNav" href="{{ path('app_repas') }}">Repas</a>
                {% endif %}
            </div>
            <div class="gridNav3">
                {% if app.user %}
                <div class="elementNav">
                    <a href="{{ path('app_logout') }}"><img id="deconnexionIcon"
                                                            src="{{ asset('CSS/media/power-off-solid.png') }}"
                                                            alt="deconnexion"></a>
                </div>
            </div>
        </div>
        {% endif %}
    </nav>
    {% block header %}
    {% endblock %}
</header>
<main>
    {% block main %}{% endblock %}
</main>
<footer>
    <div id="groupElementFooter">
        <div id="divBackgroundEF1"></div>
        <div id="divBackgroundEF2"></div>
    </div>
    <nav class="nav2"></nav>
    <div id="divMinarmFooter">
        <img id="minarmFooter" src="{{ asset('CSS/media/minarm.png') }}" alt="minarm">
    </div>
</footer>
</body>
</html>
